# Importing data from various sources

<br>
As a Data Scientist, you'll surely work with a lot of data! This data can be from one or more sources of any type, say databases or excel sheets or csv or json. In this lesson we shall see how to import data from the following sources:
* Text files
* Excel sheets
* CSV
* XML & HTML
* JSON
* TIFF
* Data Sources from the web

<img src="../images/data_handling-data_formats.PNG" width="500">

<br>
## 1. Text files:

Text files are very easy for computer to read. Text files contain data with  no structured relationships between records; they contain only basic formatting and have small fixed number of fields. While reading a text file, you need to specify the access mode of a file through the *mode* argument. This might be ** *r* **, ** *w* ** or ** *a* ** for **read**, **write** and  **append** respectively. Let's say I have a text file *sample.txt* which has the following data: <br><br>
*
Welcome to Colaberry!<br>
You are currently in "DS in 100 days" course<br>
Hope you have a good learning experience.<br>
*

If we want to input this data from the text file:

``` python
text_file = open("sample.txt", "r")
lines = text_file.read()
print(lines)

>>>
Welcome to Colaberry!
You are currently in 'DS in 100 days' course
Hope you have a good learning experience.
```

### Exercise

Now open a new text file and type in the following in seperate lines as given: <br><br>
*
I have enrolled in "DS in 100 days" course <br>
I am liking the course contents! <br>
It's helping me learn Data Science in a easy way... <br>
*<br>
Save your text file as **my_sample.txt**. Now open this file, read your data and print it.

## 2. Excel sheets:

Microsoft Excel is a quick way for business analysts to provide data for engineers to enrich reporting. Excel files are a huge part of any business operation and it becomes imperative that you learn exactly how to import these into python for data analysis. Python's ** *pandas* ** library has a function called **ExcelFile()** which converts data from your excel file into a pandas *dataframe*.

``` python
import pandas as pd

excel_file = pd.ExcelFile("myfile.xls") 
print(excel_file.sheet_names) # printing out all the sheet names in the excel file
df = excel_file.parse('sheet1') # extracting data from the first sheet as a dataframe
df.head()
```

### Exercise

Now open an excel file in the following location **"../data/sample_excel.xls"**. Print the sheet names as well as the sheet contents.

In [1]:
import pandas as pd

excel_file = pd.ExcelFile("../data/sample_excel.xls") 
print(excel_file.sheet_names) # printing out all the sheet names in the excel file
df = excel_file.parse('sheet1') # extracting data from the first sheet as a dataframe
df.head()

['sheet1']

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.8100,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.7075,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,Clay Rozendal,483,1198.9710,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.9400,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.4300,6.64,4.95,Nunavut,Office Furnishings,0.37

## 3. CSV

CSV (Comma Separated Values) files usually contain mixed data types and are used to transfer large database between programs. There are multiple ways to import csv into Python. The first method we’ll look at uses the **csv** module, a powerful and versatile module available in the core python install. It has **reader()** function which reads in the data as rows, then we can print each row. The second and by far the best method, is to import it as a dataframe using the pandas **read_csv()** funtion in python. 

* **Method 1:**

Using the CSV module

```python
import csv

csv_file = csv.reader(open("myfile.csv"))
for row in csv_file:
    print(row)
```

* **Method 2:**

Using the pandas module

```python
import pandas as pd

df = pd.read_csv("myfile.csv")
df.head()
```

### Exercise

Now open a csv file in the following location **"../data/NBA.csv"** and use pandas to import the data into Python. After importing, use *head()* function to print the rows in your dataframe.

In [2]:
df = pd.read_csv("../data/NBA.csv")
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Alex Abrines,SG,23,OKC,68,6,1055,134,341,...,0.898,18,68,86,40,37,8,33,114,406
1,2,Quincy Acy,PF,26,TOT,38,1,558,70,170,...,0.750,20,95,115,18,14,15,21,67,222
2,2,Quincy Acy,PF,26,DAL,6,0,48,5,17,...,0.667,2,6,8,0,0,0,2,9,13
3,2,Quincy Acy,PF,26,BRK,32,1,510,65,153,...,0.754,18,89,107,18,14,15,19,58,209
4,3,Steven Adams,C,23,OKC,80,80,2389,374,655,...,0.611,281,332,613,86,89,78,146,195,905

## 4. XML & HTML

### 4.1 XML

Another common format to exchange data is XML. XML is used to structure data so that it can be stored and transported. Unfortunately, Pandas package does not have an inbuilt function to import data from XML, so we need to use standard XML package and then convert the data to Pandas DataFrames. Let's see how to do this..

* First let's import data from a xml source

``` python
import requests

plant_catalog_url = "https://www.w3schools.com/xml/plant_catalog.xml"
xml_data = requests.get(plant_catalog_url).content
```

* Second let's see a function that converts XML to a dataframe

``` python
import xml.etree.ElementTree as ET
import pandas as pd

class convert_XML2DataFrame:

    def __init__(self, xml_data):
        self.root = ET.XML(xml_data)

    def parse_root(self, root):
        return [self.parse_element(child) for child in iter(root)]

    def parse_element(self, element, parsed=None):
        if parsed is None:
            parsed = dict()
        for key in element.keys():
            parsed[key] = element.attrib.get(key)
        if element.text:
            parsed[element.tag] = element.text
        for child in list(element):
            self.parse_element(child, parsed)
        return parsed

    def process(self):
        structured_data = self.parse_root(self.root)
        return pd.DataFrame(structured_data)

conversion = convert_XML2DataFrame(xml_data)
xml_df = conversion.process()
xml_df.head()
```
<br>
### 4.2 HTML

As a Data Scientist, sometimes you might have to search the web for some raw data needed for a project. Unfortunately the data is inside a web page and you don't want to waste time in coming up with a crappy script to scrape the data.. Luckily there's a simple way to do this in Python. The Pandas library has a built-in method called **read_html()**, to scrape tabular data from html pages.

``` python
import pandas as pd

tables = pd.read_html("myfile.html") # Scraping tabular data out of html file
df = tables[0] # Transforming tables to dataframe, here I am using the first table scraped
df.head()
```

### Exercise

Now open a html file in the following location **"../data/sample_html.html"** and use pandas to import the data into Python. After importing, use *head()* function to print the rows in your dataframe.

In [3]:
import pandas as pd

tables = pd.read_html("../data/sample_html.html")
df = tables[0]
df

                              0                 1        2
0                       Company           Contact  Country
1           Alfreds Futterkiste      Maria Anders  Germany
2    Centro comercial Moctezuma   Francisco Chang   Mexico
3                  Ernst Handel     Roland Mendel  Austria
4                Island Trading     Helen Bennett       UK
5  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
6  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

## 5. JSON

Javascript Object Notation (JSON), similar to XML, is another common way for exchange of structured information over a network and sharing information across platforms. It is basically text with *dict* structure, i.e it stores data as ** *key:value pairs* **. The structure can be simple to complex. There are mutiple ways to do this.

* **Method 1:**

Python pandas can easliy read JSON files using the **read_json()** function. 

``` python
import pandas as pd

df = pd.read_json("myfile.json")
df.head()
```

* **Method 2:**

There is also an alternate way of doing this. You can first read the data using **json** module, and then transform it into a dataframe.

``` python
import json
with open('myfile.json', 'r') as f:
    data = json.load(f)

df = pd.DataFrame({'value': data})
df.head()
```

### Exercise

Now open a json file in the following location **"../data/Customer.json"** and use pandas to import the data into Python. After importing, use *head()* function to print the rows in your dataframe.

In [4]:
import pandas as pd

df = pd.read_json("../data/Customer.json")
df.head()

          name                                         properties
id     Product  {'type': 'number', 'description': 'Product ide...
name   Product  {'description': 'Name of the product', 'type':...
price  Product  {'type': 'number', 'minimum': 0, 'required': T...
tags   Product     {'type': 'array', 'items': {'type': 'string'}}

## 6. TIFF

TIFF (Tagged Image File Format) is a kind of image format like JPEG, PNG, Bitmap and GIF. However the advantage of TIFF over other formats is that it has unparalleled image quality and file security. It is a loss-less format and it is also difficult to alter making it ideal for protecting information and archiving. Python has an imaging library called **PIL**, that can process images. 

* First, let's see how to use this library to import images..

``` python
from PIL import Image

im = Image.open('myfile.tif')
im.show()
```
**Note:** The *.show()* function opens image in your systems's default image viewer.

* Next, let's convert this image to a numpy array for processing, it's as simple as:

``` python
import numpy as np

imarray = np.array(im)
imarray
```
This converts your image into numpy array values, which can be used for manipulating the image.

### Exercise

Now open a tiff file in the following location **"../images/data_handling-sample_tiff.tiff"** and use pil to import the data into Python. After importing, convert the image into numpy array values and print the array.

In [5]:
from PIL import Image

im = Image.open('../images/data_handling-sample_tiff.tif')
im.show()


import numpy as np

imarray = np.array(im)
imarray

array([[  0,   1,   2, ..., 244, 245, 246],
       [  0,   1,   2, ..., 244, 245, 246],
       [  0,   1,   2, ..., 244, 245, 246],
       ...,
       [  0,   1,   2, ..., 244, 245, 246],
       [  0,   1,   2, ..., 244, 245, 246],
       [  0,   1,   2, ..., 244, 245, 246]], dtype=uint8)

## 7. Data Sources from the web

Sometimes the data we want to use is not readily available, we will have to find it from web sources. These can be **url links** to csv, html, json or other files. Interestingly the functions in pandas support data sources from url links by default. You need to choose the appropriate function for that corresponding data source. Let's see some examples:

* **Reading csv file from web**
``` python
pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
```

* **Reading html file from web**
``` python
tables = pd.read_html("https://www.fantasypros.com/nfl/reports/leaders/qb.php?year=2015")
df = tables[0]
df.head()
```

* **Reading json file from web**
``` python
df = pd.read_json('http://maps.googleapis.com/maps/api/geocode/json?address=google')
df.head()
```

In short, web sources are treated the same way as actual files.

### Exercise

Now analyze and import data from the following webpage using Python. <br>
https://people.sc.fsu.edu/~jburkardt/data/csv/snakes_count_1000.csv <br>
After importing, use *head()* function to print the rows in your dataframe.

In [6]:
df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/snakes_count_1000.csv')
df.head()

   Game Number   "Game Length"
0            1              30
1            2              29
2            3              31
3            4              16
4            5              24