## 02-Lab  - SVR- Linear Kernel

In this lab, you will work with Credit dataset - description provided below .
The dataset contains information about credit information of few people and their other details.
Your task is to fit a Support Vector Machine regression with Linear and compare it with Linear regression in terms of accuracy scores or MSE.
You are required to use "Rating" as the target variable and do the data manipulation (dummy categorical variables), use SVR  to create the model.

Data is availabe in : https://raw.githubusercontent.com/colaberry/DSin100days/master/data/Credit.csv

In [1]:
# Import the library
import pandas as pd

credit = pd.read_csv('https://raw.githubusercontent.com/colaberry/DSin100days/master/data/Credit.csv', na_values='?').dropna()
credit.info()
credit.head()

#Write your code here or in other code cells down

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 12 columns):
Unnamed: 0    400 non-null int64
Income        400 non-null float64
Limit         400 non-null int64
Rating        400 non-null int64
Cards         400 non-null int64
Age           400 non-null int64
Education     400 non-null int64
Gender        400 non-null object
Student       400 non-null object
Married       400 non-null object
Ethnicity     400 non-null object
Balance       400 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 40.6+ KB

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331